:root{
    /* colors */
    --white-grey: rgb(231, 231, 231);
    --ivory: #efc9af;
    --dark-blue: #104c91;
    --blue:#1f8ac0;

    /* padding, profile */
    --padding: 12px;
    --profile: 80px;
    --webpage: 150px;
    --logo: 200px;
    --section-margin: 500px;

    /* font-size */
    --font-large: 48px;
    --font-medium:36px;
    --font-small: 24px;
    --font-micro: 18px;

}



/* common */
*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'PT Serif', serif;
    text-decoration: none;
    list-style: none;
}

button{
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

body{
    background-color: var(--ivory);
}

section{
    padding: 0 var(--padding);
    margin: var(--section-margin) 0;
    border-bottom: 1px solid grey;
}

section > ul{
    border-top: 1px solid grey;
    padding: calc(var(--padding)*8) 0;
}

section > .title{
        font-size: var(--font-large);
        color:var(--dark-blue);
}


/* nav */
nav{
    position: sticky;
    top:0;
    background-color: var(--blue);
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size: var(--font-small);
    padding: var(--padding) 0;
    opacity: 0.9;

    
}

nav img{
    /* height:var(--profile); */
    width: var(--profile);
    border-radius: 50%;
}

nav ul{
    display:flex; 
}

nav li{
    padding-right: calc(var(--padding)*10);
}

nav li a,button{
    color: var(--ivory);
    /* padding: calc(2*(var(--padding)); */
}

nav li a:hover,button:hover{
    background-color: #7cc0ff;
}
/* Works */
.works > .title{
    font-size: var(--font-large);
}

.works >ul > li > a{
    display:flex;
    border: 1px solid grey;
    padding: var(--padding);
    margin-bottom: calc(var(--padding)*1);
}

.works >ul > li :hover{
    color: rgb(145, 165, 255);
}

.works img{
    height: var(--webpage);
    width: calc(var(--webpage)*2);
    border: 1px solid black;
    margin-right: var(--padding);
}

.works li .title{
    font-size: var(--font-small);
}



/* SKills */
.skills ul{
    display:flex;
    justify-content: space-around;
}

.skills li > div{
    align-items: center;
}

.skills div .title{
    font-size: var(--font-medium);
    margin-bottom: calc(var(--padding)*6);
}
.skills .webdevelopment .htmlcssjs{
    height: var(--logo);
}

.skills .webdevelopment .php,.react,.mysql{
    width: var(--logo);
    margin-right: var(--padding);
}

.skills .sqlphp{
    display:flex;
    flex-direction: row;
}

.skills .others img{
    width: var(--logo);
    height: var(--logo);
    margin-right: calc(var(--padding)*5);
}

.skills ul li div{
    display:flex;
    flex-direction: column;
}

.skills .others div{
    display:flex;
    flex-direction: row;
}
.skills .title .skillsbox{
    display:flex;
    flex-direction: column;
    align-items: center;
} 
/* Language */
.language ul{
    display:flex;
    justify-content: space-evenly;
    font-size: var(--font-small);
    padding: calc(var(--padding)*20) 0;
}



/* Contact */
.contact ul{
    display:flex;
    justify-content: space-evenly;
    font-size: var(--small);
    padding: calc(var(--padding)*20) 0;
    font-size: calc(var(--font-large)*0.7);
}
