:root{
    /* colors */
    --white-grey: rgb(231, 231, 231);
    --ivory: #efc9af;
    --dark-blue: #104c91;
    --blue:#1f8ac0;

    /* padding, profile */
    --padding: 12px;
    --profile: 100px;
    --webpage: 150px;

    /* font-size */
    --font-large: 48px;
    --font-medium:36px;
    --font-small: 24px;
    --font-micro: 18px;

}



/* common */
*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'PT Serif', serif;
}

body{
    background-color: var(--ivory);
}

section{
    padding: 0 var(--padding);
    margin-bottom: var(--padding);
    border-bottom: 1px solid grey;
}

section > ul{
    border-top: 1px solid grey;
}

section > .title{
        font-size: var(--font-large);
        color:var(--dark-blue);
}


/* nav */
nav{
    background-color: var(--blue);
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size: var(--font-small);
    
}

nav img{
    height:var(--profile);
    width:var(--profile);
    border-radius: 50%;
}

nav ul{
    list-style:none;
    display:flex;
    color: var(--ivory); 
}

nav li{
    padding-right: calc(var(--padding)*20);
    
}



/* Works */
.works > .title{
    font-size: var(--font-large);
}

.works li{
    display:flex;
    border: 1px solid grey;
    padding: var(--padding);
    margin-bottom: calc(var(--padding)*1);
}

.works img{
    height: var(--webpage);
    width: calc(var(--webpage)*2);
    border: 1px solid black;
    margin-right: var(--padding);
}

.works li .title{
    font-size: var(--font-small);
}



/* Language */
.language ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: var(--font-small);
    padding: calc(var(--padding)*10) 0;
}



/* Contact */
.contact ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: var(--small);
    padding: calc(var(--padding)*10) 0;
    font-size: calc(var(--font-large)*0.7);
}
